@import "variables";

.header {
  position: relative;

  grid-area: myHeader;

  display: flex;
  gap: 36px;
  align-items: center;
  justify-content: space-evenly;

  background: $white;

  height: 66px;
  width: calc(100vw - 232px);

  border-bottom: 1px solid $border-grey;

  &__brand {
    display: none;
  }

  &__input-search {
    height: 46px;
    width: 50vw;

    background: url(../img/search-icon.svg) no-repeat 19px center;
    padding-left: 44px;

    border: $border-grey 1px solid;
    border-radius: 6px;

    transition: 0.5s;
  }

  &__input-search:focus {
    outline: none;
    border: 1px solid $dark-grey;
    border-radius: 6px;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__icon-item {
    position: relative;

    cursor: pointer;

    width: 24px;
    height: 24px;
  }

  &__icon-item img {
    width: 24px;

    &:hover {
      filter: $active-filter;
      will-change: transform;
    }
  }

  &__icon-item--notification {
    &::after {
      content: '';

      position: absolute;
      top: -7px;
      right: -5px;

      width: 10px;
      height: 10px;

      border: 1.5px solid $white;
      border-radius: 50%;

      background: #E25563;
    }
  }

  &__avatar {
    width: 40px;
    height: 40px;

    cursor: pointer;

  }
}

.avatar {
  position: relative;

  &--online::after {
    content: '';

    position: absolute;
    bottom: 0;
    right: 0;

    width: 10px;
    height: 10px;

    border: 1.5px solid $white;
    border-radius: 50%;

    background: $green;
  }

  &--offline::after {
    content: '';

    position: absolute;
    bottom: 0;
    right: 0;

    width: 10px;
    height: 10px;

    border: 1.5px solid $white;
    border-radius: 50%;

    background: $grey;
  }

  &--busy::after {
    content: '';

    position: absolute;
    bottom: 0;
    right: 0;

    width: 10px;
    height: 10px;

    border: 1.5px solid $white;
    border-radius: 50%;

    background: $orange;
  }
}

@media screen and (max-width: 900px) {
  .header {
    width: 100vw;

    &__brand {
      display: flex;
    }

    &__icons {
      display: none;
    }
  }
}


@media screen and (max-width: 1200px) {
  .header {
    &__input-search {
      width: 40vw;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 26px 16px;
    width: 100vw;
    height: 150px;

    display: block;

    &__brand {
      position: absolute;
      display: flex;

      top: 26px;
      left: 16px;
    }

    &__avatar {
      position: absolute;

      top: 16px;
      right: 16px;
    }

    &__icons {
      display: none;
    }

    &__input-search {
      position: absolute;
      width: 95vw;

      top: 80px
    }
  }
}