$white: #FFFFFF;

$dark-grey: #282828;
$grey: #5F6980;
$light-grey: #F2F4F7;
$border-grey: #EAECF0;

$green: #20C997;
$light-green: #DCFFF5;

$orange: #FD7E14;
$light-orange: #FFEAD8;

$blue: #5A9CFE;